@font-face {
  font-family: "Bird";
  src: url("../recursos/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf");
}
* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../recursos/maquillajecattaleya.jpg);
  background-size: 100vw 100%;
  height: 15rem;
}

.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Bird;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 1.5rem;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  height: 3rem;
}

.navegacion a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: 150px;
  color: pink;
  text-shadow: 1px 2px 3px purple;
}

.navegacion a:hover {
  background-color: lightpink;
  color: white;
  border-radius: 100px;
}

.seccionNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  padding-top: 1rem;
}
.seccionNosotros .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.seccionNosotros .nosotros .tituloNosotros {
    font-family: bird;
    color: white;
    text-shadow: 1px 2px 3px purple;
}

.seccionNosotros .nosotros p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: bold;
    color: purple;
}

.seccionNosotros .historiaFilosofia {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 0 2rem;
}

.seccionNosotros .historiaFilosofia .historia h2,
.seccionNosotros .historiaFilosofia .filosofia h2 {
    font-family: bird;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: rgb(163, 121, 150);
    text-shadow: 1px 2px rgb(255, 255, 255);
}

.seccionNosotros .historiaFilosofia .historia p,
.seccionNosotros .historiaFilosofia .filosofia p {
    display: flex;
    text-align: center;
    margin: 0 1rem 2rem;
    padding: 1rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.334);
    color: rgba(245, 88, 211, 0.778);
    border-radius: 50px;
}

.carouselC {
  display: flex;
  flex-direction: row;
background-color: pink;
}

.nuestrosServ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://png.pngtree.com/png-clipart/20221229/big/pngtree-gold-frame-png-image_8823211.png);
  background-size: 110% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
}
.nuestrosServ h3 {
  font-family: bird;
  font-weight: bolder;
  text-shadow: 1px 1px 3px purple;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
color: rgb(255, 255, 255);
}

.carousel {
  display: flex;
  flex-direction: row;
  border: 7px solid rgba(72, 0, 255, 0.113);
width: 70%;
height: 50%;

}
.carousel-item img {
  width: 100%;
  height: 50vh;
  
  }

/* .video-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
} */

.video-section video {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100vw;
  height: 30%;
  background-color: lightpink;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 1px 1px 2px purple;
}

.footer h1 {
  font-family: bird;
  display: flex;
  text-align: center;
}
